@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap');

/* CREDIT: code to fix footer to bottom of page even when there is not
enough content to push it down taken from https://css-tricks.com/couple-takes-sticky-footer/ */
html,
body {
    height: 100%;
}

body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.content {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
}

#bottom-bar {
    position: absolute;
    background-color: white;
    bottom: 0;
    left: 0;
    height: 4rem;
    border-top: 2px solid lightgray;
    width: 100%;
    padding: 1rem;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    z-index: 10;
}

#side-info-bar {
    background-color: lightgrey;
    padding: 1.5rem;
    height: 100vh;
    padding-top: 65px;
    position: absolute;
    right: 0;
    top: 0;
}

#top-bar {
    height: 56px;
    border-bottom: 2px solid lightgray;
    background-color: white;
    z-index: 10;
}

.progress {
    height: 0.6rem;
    margin-bottom: 0.5rem;
}

.container-fluid,
.row {
    padding: 0;
}

body {
    color: grey;
    font-family: 'Roboto', sans-serif;
}

#question-response {
    color: green;
    font-weight: 400;
}

#progress-bar-text,
label {
    font-size: 0.8rem;
}

label {
    margin-bottom: 0;
}

.radio-response,
.choice-response {
    font-size: 0.75rem;
}

.radio-response {
    color: #c20606;
    font-style: italic;
    margin-bottom: 0.5rem;
}

.choice-response {
    padding-left: 1rem;
    border-left: 3px solid lightgray;
    margin-bottom: 0.2rem;
}

.form-check {
    padding-left: 3rem;
}

.radio {
    height: 15px;
    width: 15px;
}

/* positions circle mark in line with radio checkbox */
.circle-mark {
    margin-top: 0.27rem;
    margin-left: -2.8rem;
    position: absolute;
}

.fa-times-circle {
    color: #c20606;
}

.fa-check-circle {
    color: #015f06;
}

.fa-chevron-right {
    margin-left: 1rem;
}

button {
    background-color: rgb(0, 39, 110);
    color: white;
    border: none;
    width: 85px;
    height: 30px;
    font-size: 0.9rem;
    margin-right: 0.3rem;
}
