
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap');

.page-wrapper{
    height: 100vh;
}

#top-bar {
    height: 56px;
    border-bottom: 2px solid lightgray; 
}

.progress {
    height: 0.6rem;
    margin-bottom: 0.5rem;
}

.container-fluid,
.row {
    padding: 0;
}

body {
    color: grey;
    font-family: 'Roboto', sans-serif;
}

#question-response {
    color: green;
    font-weight: 400;
}

#progress-bar-text,
label {
    font-size: 0.8rem;
}

label {
    margin-bottom: 0;
}

.radio-response,
.choice-response {
    font-size: 0.75rem;
}

.radio-response {
    color: #c20606;
    font-style: italic;
    margin-bottom: 0.5rem;
}

.choice-response {
    padding-left: 1rem;
    border-left: 3px solid lightgray;
    margin-bottom: 0.2rem;
}

.form-check {
    padding-left: 3rem;
}

.radio {
    height: 15px;
    width: 15px;
}

/* positions circle mark in line with radio checkbox */
.circle-mark {
    margin-top: 0.27rem;
    margin-left: -2.8rem;
    position: absolute;
}

.fa-times-circle {
    color: #c20606;
}

.fa-check-circle {
    color: #015f06;
}

.bottom-bar {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 4rem;
    border-top: 2px solid lightgray; 
    width: 100%;
    padding: 1rem;
}